<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>게시글 목록</h1>
    <table>
        <tr>
            <th width="100">번호</th>
            <th width="200">제목</th>
            <th width="150">작성자</th>
            <th width="150">등록일</th>
            <th width="100">조회수</th>
        </tr>
        <tr th:each="free:${freeBoardList}">
            <td th:text="${free.id}"></td>
            <td th:text="${free.title}"></td>
            <td th:text="${free.writer}"></td>
            <td th:text="${free.createDate}"></td>
            <td th:text="${free.hit}"></td>
        </tr>
    </table>
</body>
