<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글상세보기</title>
</head>
<body>
    <h1>건의게시글상세</h1>
    <hr>
    <input type="hidden" name="id" th:value="${qBoard.id}" />
    <table>
        <tr>
            <td><label for="title">제목 </label></td>
            <td colspan="3"><input type="text" id="title" name="title" th:value="${qBoard.title}" readonly></td>
        </tr>
        <tr>
            <td colspan="4">
                <label for="content"></label>
                <textarea id="content" name="content" cols="40" rows="10" th:text="${qBoard.content}" readonly></textarea>
            </td>
        </tr>
        <tr>
            <td>빈칸</td>
            <!--삭제 여부 팝업 후 처리-->
            <td><a th:href="@{/deleteQBoard(id=${qBoard.id})}">삭제</a></td>
            <td><a th:href="@{/getQBoardList}">확인</a></td>
            <td><a th:href="@{/updateQBoard(id=${qBoard.id})}">수정하기</a></td>
        </tr>
    </table>
</body>
</html>