<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글상세보기</title>
</head>
<body>
    <h1>수정하기</h1>
    <hr>
    <!--수정 부분 수정해야함 -->
    <form th:action="@{updateQBoard}" method="post">
        <input type="hidden" name="id" th:value="${qBoard.id}" />
        <table>
            <tr>
                <td><label for="title">제목</label></td>
                <td colspan="3"><input type="text" id="title" name="title" th:value="${qBoard.title}"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <label for="content"></label>
                    <textarea id="content" name="content" cols="40" rows="10" th:text="${qBoard.content}" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><input type="submit" value="수정"></td>
                <td><input type="button" th:value="취소" th:onclick="|location.href='@{/getQBoardList}'|"></td>
            </tr>
        </table>
    </form>
</body>
</html>