<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>공지글 목록</h1>
    <table>
        <tr>
            <th width="100">글 번호</th>
            <th width="200">글 제목</th>
            <th width="150">조회수</th>
        </tr>
        <tr th:each="boardList:${boardList}">
            <td th:text="${boardList.number}"></td>
            <!--
            <td><a th:href="@{/getNBoard(id=${nBoard.id})}"
                    th:text="${nBoard.title}"></a></td>
                    -->
            <td th:text="${boardList.hit}"></td>
        </tr>
    </table>
    <!--
    <table th:with="start=${T(Math).floor(nBoardList.number / 10) * 10 + 1},
                    last=(${start + 9 < nBoardList.totalPages ? start + 9 : nBoardList.totalPages})">
        <tr>
            <td>
                <a th:href="@{/getNBoardList(page=1)}">
                    First
                </a>
            </td>
            <td>
                <a th:href="${nBoardList.first} ? '#' : @{/getNBoardList(page=${nBoardList.number})}">
                    &lt;
                </a>
            </td>
            <td th:if="${0 == nBoardList.totalPages}" th:text="1">
            </td>

            <td th:each="page: ${#numbers.sequence(start, last)}" th:unless="${0 == nBoardList.totalPages}">
                <a th:text="${page}" th:href="${page == nBoardList.number + 1} ? '#' : @{/getNBoardList(page=${page})}"></a>
            </td>

            <td>
                <a th:href="${nBoardList.last} ? '#' : @{/getNBoardList(page=${nBoardList.number + 2})}">
                    &gt;
                </a>
            </td>
            <td>
                <a th:href="@{/getNBoardList(page=${nBoardList.totalPages})}">
                    Last
                </a>
            </td>
        </tr>
    </table>
    -->
    <a th:href="@{/adminPage}">관리자페이지</a>
</body>
