<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지글쓰기</title>
</head>
<body>
    <h1>공지글쓰기</h1>
    <table>
        <form th:action="@{/board/notice/insertBoard}" method="post">
            <!--session 처리 -->
            <input type="hidden" name="createdBy" value="관리자">
            <tr>
                <td><label for="boardTitle">제목</label></td>
                <td colspan="3"><input type="text" name="boardTitle" id="boardTitle"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <label>
                        <textarea name="boardContent" cols="40" rows="10"></textarea>
                    </label>
                </td>
            </tr>
            <tr>
                <td>빈칸</td>
                <td>빈칸</td>
                <td><input type="submit" value="등록"></td>
                <!-- 관리자 페이지이동으로 변경-->
                <td><input type="button" value="취소" th:onclick="|location.href='@{/board/notice/adminPage}'|"></td>
            </tr>
        </form>

    </table>
</body>
</html>